// Colors

$red: hsl(0, 58%, 50%);
$black: hsl(0, 0%, 5%);
$black-accent: hsl(0, 0%, 10%);
$white: hsl(0, 0%, 95%);
$gray: hsl(0, 0%, 80%);
$dark-gray: hsl(0, 0%, 20%);

// Breakpoints

$small: 576px;
$medium: 768px;
$large: 992px;

// 