@use 'fonts';
@use 'variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    position: absolute;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    &__logo {
        text-decoration: none;
        padding-left: 2rem;
    }

    &__menu {
        display: flex;
        list-style: none;
        color: $white;

        &-item {
            font-size: 1.25rem;
            padding: .5rem 1rem;

            &:after {
                display: block;
                content: '';
                border-bottom: solid 1px $red;  
                transform: scaleX(0) translateY(.5rem);  
                transition: transform 250ms ease-in-out;
            }

            &:hover:after {
                transform: scaleX(1) translateY(.5rem);  
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            &.active {
                cursor: default;
                &:after {
                    transform: scaleX(1) translateY(.5rem);  
                }
            }
        }
    }

    &__social {
        display: flex;
        list-style: none;
        color: $white;
        padding-right: 2rem;

        &-icon {
            padding: .5rem;
            transition: .5s;
            cursor: pointer;

            &:hover {
                color: $red;
            }
        }
    }
}

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), center no-repeat url('../../images/landing_woman.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    
    &__text {
        padding: 30vh 0 0 10rem;
        color: $white;
        transition: transform 250ms ease-in-out;
        animation: appear .5s;

        @keyframes appear {
            from {
                opacity: 0;
                transform: translateX(-10rem);  
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &-top {
            font-size: 1.25rem;
            margin-bottom: .5rem;
            position: relative;
            
            &::before {
                content: '';
                border-left: 2px solid $red;
                height: 100%;
                position: absolute;
                left: -1rem;
            }
        }

        &-main {
            font-size: 4rem;
            font-weight: bold;
        }

        &-main--color {
            font-size: 4rem;
            font-weight: bold;
            color: $red;
        }
    }

    &__cta-btn {
        margin-top: 2rem;
        font-size: 1.5rem;
        padding: 1rem;
        border: 2px solid $red;
        background: $red;
        color: $white;
        transition: .25s;
        cursor: pointer;

        &:hover {
            background: unset;
            // color: $red;
            border: 2px solid $red;
        }
    }
}

.why-us {
    background: $black;
    color: $white;
    padding: 4rem 0;
    text-align: center;

    &__text-secondary {
        margin-bottom: .5rem;
        color: $red;
        text-transform: uppercase;
    }

    &__text-main {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    &__advantages {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        list-style: none;
    }

    &__advantage {
        padding: 1rem;

        &:hover &-icon {
            background: $red;
            color: $white;
        }

        &-icon {
            font-size: 2.5rem;
            padding: 1.5rem;
            background: $dark-gray;
            border-radius: 50%;
            color: $red;
            transition: .25s ease-in-out;
            margin-bottom: 1rem;
        }

        &-title {
            margin-bottom: 1rem;
        }

        &-text {
            color: $gray;
            font-size: .9rem;
        }
    }
}

@media screen and (min-width: $small) {
    .nav {
        &__menu {
            display: none;
        }
    }
}