@use 'fonts';
@use 'variables' as *;
@use 'mixins' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    transition: .25s ease-in-out;

    &.scrolled {
        background-color: $black;
        padding: 1rem 0;
        border-bottom: 2px solid $dark-gray;
    }

    &__logo {
        text-decoration: none;
        padding-left: 1.5rem;
    }

    &__bars {
        display: inline-block;
        color: $white;
        font-size: 2rem;
        padding-right: 1.5rem;
        cursor: pointer;
    }

    &__mobile {
        &-background {
            visibility: hidden;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 100;            
            background: rgba(0, 0, 0, .6);
            transition: .25s ease-in-out;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }

        &-dropdown {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            z-index: 100;
            width: 100vw;
            height: 100vh;
            padding: 1rem 0;
            background-color: $dark-gray;
            color: $gray;
            right: 0;
            top: 0;
            opacity: 0;
            transform: translateX(100vw);
            transition: all .3s ease-in-out;

            &.active {
                transform: translateX(0);
                opacity: 1;
            }

            &-top {
                display: flex;
                justify-content: space-between;
                align-self: center;
                width: 100%;
                padding: 1rem 1rem 1rem 2rem;
            }

            &-close {
                font-size: 2rem;
                padding: 0 1rem;
                cursor: pointer;
                transition: color .25s ease-in-out;

                &:hover {
                    color: $red;
                }
            }
        }

        &-menu {
            width: 100%;
            list-style: none;
            margin: 0;

            &-item {
                font-size: 1.25rem;
                cursor: pointer;

                a {
                    padding: .75rem 2rem;
                    color: $gray;
                    text-decoration: none;  
                    display: block;          
                    transition: .25s ease-in-out;

                    &:hover {
                        background-color: $black;
                    }
                }

            }
        }

        &-divider {
            width: 100%;
            height: 6px;
            background: $gray;
            border: none;
            margin: 1rem 0;
        }

        &-social {
            display: flex;
            justify-content: center;
            list-style: none;
            
            &-icon {
                font-size: 1.5rem;
                padding: .5rem;
                cursor: pointer;
                transition: .25s ease-in-out;

                &:hover {
                    color: $red;
                }
            }
        }
    }

    &__menu {
        display: none;
        list-style: none;
        color: $white;

        &-item {
            font-size: 1.25rem;

            &:after {
                display: block;
                content: '';
                border-bottom: solid 1px $red;  
                transform: scaleX(0) translateY(.5rem);  
                transition: transform 250ms ease-in-out;
            }

            &:hover:after {
                transform: scaleX(.75) translateY(.5rem);  
            }

            a {
                padding: .5rem 1rem;
                display: block;
                text-decoration: none;
                color: inherit;
            }

            &.active {
                cursor: default;
                &:after {
                    transform: scaleX(.75) translateY(.5rem);  
                }
            }
        }
    }

    &__social {
        display: none;
        list-style: none;
        color: $white;
        padding-right: 2rem;

        &-icon {
            padding: .5rem;
            transition: .5s;
            cursor: pointer;

            &:hover {
                color: $red;
            }
        }
    }
}

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), right no-repeat url('../../images/landing_woman.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    
    &__text {
        padding: 30vh 1rem 0 1rem;
        color: $white;
        transition: transform 250ms ease-in-out;
        animation: appear .5s;

        @keyframes appear {
            from {
                opacity: 0;
                transform: translateX(-10rem);  
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &-top {
            margin-bottom: .5rem;
            position: relative;
            
            &::before {
                content: '';
                border-left: 2px solid $red;
                height: 100%;
                position: absolute;
                left: -.5rem;
            }
        }

        &-main {
            font-size: 3rem;
            font-weight: bold;
        }

        &-main--color {
            font-size: 4rem;
            font-weight: bold;
            color: $red;
        }
    }

    &__cta-btn {
        margin-top: 2rem;
        font-size: 1.5rem;
        @include buttonRed;
        transition: .25s;

        &:hover {
            background: unset;
            // color: $red;
            border: 2px solid $red;
        }
    }
}

.why-us {
    @include section;
    background: $black;

    &__text-secondary {
        margin-bottom: .5rem;
        color: $red;
        text-transform: uppercase;
        font-size: 1.1rem;
    }

    &__text-main {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 2rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    &__advantages {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        list-style: none;
    }

    &__advantage {
        padding: 1rem;

        &:hover &-icon {
            background: $red;
            color: $white;
        }

        &-icon {
            width: 100px;
            font-size: 2.5rem;
            padding: 1.5rem;
            background: $dark-gray;
            border-radius: 50%;
            color: $red;
            transition: .25s ease-in-out;
            margin-bottom: 1rem;
        }

        &-title {
            margin-bottom: 1rem;
        }

        &-text {
            color: $gray;
            font-size: .9rem;
        }
    }
}

.our-offer {
    @include section;
    background: $black-accent;

    &__text-secondary {
        @include sectionTextSecondary
    }

    &__text-main {
        @include sectionTextMain;
    }

    &__classes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        margin: 0 auto;
        max-width: 1200px;
        list-style: none;
    }

    &__class {
        background: $black;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: transform .2s ease-in-out;
        
        // &:hover {
        //     transform: scale(1.05);
        // }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 2rem;
        }

        &-name {
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    &__img {
        filter: brightness(.8);
        width: 100%;
        border-bottom: 4px solid $dark-gray;
    }

    &__cta-btn {
        @include buttonRed;
        font-size: 1.25rem;
        padding: .5rem;
    }
}

.join-us {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), center no-repeat url('../../images/woman-roller.jpg');
    background-size: cover;
    width: 100%;
    color: $white;
    padding: 8rem 1rem;
    text-align: center;

    &__main {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__secondary {
        font-size: 1.5rem;
        color: $gray;
        margin-bottom: 2rem;
    }

    &__cta-btn {
        @include buttonRedTransparent;
    }
}

.pricing {
    @include section;
    background: $black;

    &__text-secondary {
        @include sectionTextSecondary;
    }

    &__text-main {
        @include sectionTextMain;
        padding: 0;
    }
    
    &__list {
        gap: 2rem;
        padding: .5rem;
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    &__offer--reccomended {
        flex: 1 0 250px;
        padding: 2rem;
        background: $black-accent;
        transition: .2s ease-in-out;
        border: 4px solid rgba($red, .5);
        transform: scale(1.05);
    }

    &__offer{
        flex: 1 0 250px;
        padding: 2rem;
        background: $black-accent;
        transition: .2s ease-in-out;

        &-name {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &-price {
            font-size: 4rem;
            color: $red;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        &-duration {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:before {
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-size: 1.5rem;
                content: "\f017";
                margin-right: .5rem;
            }
        }

        &-benefits {
            list-style-type: none;
            margin-bottom: 2rem
        }

        &-benefit {
            font-size: .9rem;
            color: $gray;
            margin-bottom: 1rem;
        }
    }

    &__cta-btn {
        @include buttonRed;
    }
}

.gallery {
    background: $black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 500px);
    grid-gap: 15px;

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(.75);
        cursor: pointer;
        transition: filter .2s ease-in-out;
        position: relative;

        &:hover {
            filter: brightness(.9);
        }
    }
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: rgba($black, 0.9);
    padding: 0 .5rem;
    cursor: pointer;

    &__image {
        z-index: 101;
        width: auto;
        max-width: 100%;
        max-height: 550px;
        cursor: default;
    }
    
}

.location {
    @include section;
    padding: 6rem 0 0 0;
    background-color: $black;

    &__text-secondary {
        @include sectionTextSecondary;
    }

    &__text-main {
        @include sectionTextMain;
    }

    &__map {
        width: 100%;
        height: 50vh;
        filter: brightness(.8);
        transition: filter .2s ease-in-out;

        &:hover {
            filter: brightness(.9);
        }
    }

}

.footer {
    background: $black;
    color: $white;

    &__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        // justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;        
    }


    &__contact, &__hours {
        flex: 1 0 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        color: $gray;

        &-title {
            font-size: 2rem;
            margin-bottom: 1rem;
            color: $white;
        }
    }

    &__hours-list {
        list-style: none;
    }

    &__hour {
        margin-bottom: .5rem;
    }

    &__newsletter {
        flex: 1 0 250px;
        
        &-title {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &-input {
            padding: .75rem;
            border: $white 2px solid;
            width: 100%;
            font-size: 1rem;
            margin-bottom: 1rem;
            outline: none;
        }

        &-submit-btn {
            @include buttonRed;
            width: 100%;
            padding: .75rem;
            margin-bottom: .5rem;
            font-size: 1rem;
        }
    }

    &__social {
        list-style-type: none;
        display: flex;

        &-icon {
            font-size: 1.5rem;
            padding: .5rem;
            transition: .2s ease-in-out;
            cursor: pointer;

            &:hover {
                color: $red;
            }
        }
    }

    &__divider {
        width: 100%;
        border: 1px solid $gray;
        margin: 1rem 0;
    }
    &__bottom {
        text-align: center;
        width: 100%;
    }
}

// Responsive

@media screen and (min-width: $small) {
    .nav {
        &__mobile-dropdown {
            max-width: 300px;
        }
    }

    .landing {
        &__text {
            padding: 35vh 0 0 5rem;

            &-top {
                font-size: 1.25rem;
            }

            &-main {
                font-size: 4rem;
            }
        }
    }

    .footer {
        &__newsletter {
            &-input {
                width: auto
            }
    
            &-submit-btn {
                width: auto;
            }
        }
    }
}

@media screen and (min-width: $medium) {
    .nav {  
        &__logo {
            text-decoration: none;
            padding-left: 2rem;
        }
        
    }

    .landing {
        &__text {
            padding: 30vh 0 0 10rem;
        }
    }

    .our-offer {
        &__class {
                    
            &:hover {
                transform: scale(1.05);
            }

            &-name {
                font-size: 1.25rem;
            }
        }
    }

    .pricing {
        &__offer {
            flex: 0 0 350px;

            &:hover {
                transform: scale(1.05);
            }
        }
        

        &__offer--reccomended {
            flex: 0 0 350px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .join-us {
        &__main {
            font-size: 4rem;
        }
    
        &__secondary {
            font-size: 2rem;
        }
    }

    .gallery {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 5vw);
    
        &__photo {
    
            &:first-child {
                grid-column: 1 / 7;
                grid-row: 1 / 7;
            }
    
            &:nth-child(2) {
                grid-column: 7 / 10;
                grid-row: 1 / 7;
            }
            &:nth-child(3) {
                grid-column: 10 / 13;
                grid-row: 1 / 7;
            }
            &:nth-child(4) {
                grid-column: 1 / 7;
                grid-row: 7 / 13;
            }
            &:nth-child(5) {
                grid-column: 7 / 13;
                grid-row: 7 / 13;
            }
        }
    }
}

@media screen and (min-width: $large) {
    .nav {
        &__bars {
            display: none !important;
        }

        &__menu {
            display: flex;
        }

        &__social {
            display: flex;
        }
    }

    .our-offer {
        &__classes {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }
    }

    // .footer {
    //     &__wrapper {}
    // }
}