@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sons-serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  transition: 0.25s ease-in-out;
}
.nav.scrolled {
  background-color: #0d0d0d;
  padding: 1rem 0;
  border-bottom: 2px solid #333333;
}
.nav__logo {
  text-decoration: none;
  padding-left: 1.5rem;
}
.nav__bars {
  display: inline-block;
  color: #f2f2f2;
  font-size: 2rem;
  padding-right: 1.5rem;
  cursor: pointer;
}
.nav__mobile-background {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.25s ease-in-out;
}
.nav__mobile-background.active {
  visibility: visible;
  opacity: 1;
}
.nav__mobile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  padding: 1rem 0;
  background-color: #333333;
  color: #cccccc;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}
.nav__mobile-dropdown.active {
  transform: translateX(0);
  opacity: 1;
}
.nav__mobile-dropdown-top {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  padding: 1rem 1rem 1rem 2rem;
}
.nav__mobile-dropdown-close {
  font-size: 2rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.nav__mobile-dropdown-close:hover {
  color: #c93636;
}
.nav__mobile-menu {
  width: 100%;
  list-style: none;
  margin: 0;
}
.nav__mobile-menu-item {
  font-size: 1.25rem;
  cursor: pointer;
}
.nav__mobile-menu-item a {
  padding: 0.75rem 2rem;
  color: #cccccc;
  text-decoration: none;
  display: block;
  transition: 0.25s ease-in-out;
}
.nav__mobile-menu-item a:hover {
  background-color: #0d0d0d;
}
.nav__mobile-divider {
  width: 100%;
  height: 6px;
  background: #cccccc;
  border: none;
  margin: 1rem 0;
}
.nav__mobile-social {
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav__mobile-social-icon {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.nav__mobile-social-icon:hover {
  color: #c93636;
}
.nav__menu {
  display: none;
  list-style: none;
  color: #f2f2f2;
}
.nav__menu-item {
  font-size: 1.25rem;
}
.nav__menu-item:after {
  display: block;
  content: "";
  border-bottom: solid 1px #c93636;
  transform: scaleX(0) translateY(0.5rem);
  transition: transform 250ms ease-in-out;
}
.nav__menu-item:hover:after {
  transform: scaleX(0.75) translateY(0.5rem);
}
.nav__menu-item a {
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  color: inherit;
}
.nav__menu-item.active {
  cursor: default;
}
.nav__menu-item.active:after {
  transform: scaleX(0.75) translateY(0.5rem);
}
.nav__social {
  display: none;
  list-style: none;
  color: #f2f2f2;
  padding-right: 2rem;
}
.nav__social-icon {
  padding: 0.5rem;
  transition: 0.5s;
  cursor: pointer;
}
.nav__social-icon:hover {
  color: #c93636;
}

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), right no-repeat url("../../images/landing_woman.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.landing__text {
  padding: 30vh 1rem 0 1rem;
  color: #f2f2f2;
  transition: transform 250ms ease-in-out;
  animation: appear 0.5s;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.landing__text-top {
  margin-bottom: 0.5rem;
  position: relative;
}
.landing__text-top::before {
  content: "";
  border-left: 2px solid #c93636;
  height: 100%;
  position: absolute;
  left: -0.5rem;
}
.landing__text-main {
  font-size: 3rem;
  font-weight: bold;
}
.landing__text-main--color {
  font-size: 4rem;
  font-weight: bold;
  color: #c93636;
}
.landing__cta-btn {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #f2f2f2;
  background: #c93636;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid #c93636;
  transition: 0.25s;
  transition: 0.25s;
}
.landing__cta-btn:hover {
  background: unset;
  border: 2px solid #c93636;
}
.landing__cta-btn:hover {
  background: unset;
  border: 2px solid #c93636;
}

.why-us {
  color: #f2f2f2;
  padding: 4rem 1rem;
  text-align: center;
  background: #0d0d0d;
}
.why-us__text-secondary {
  margin-bottom: 0.5rem;
  color: #c93636;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.why-us__text-main {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.why-us__advantages {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  list-style: none;
}
.why-us__advantage {
  padding: 1rem;
}
.why-us__advantage:hover .why-us__advantage-icon {
  background: #c93636;
  color: #f2f2f2;
}
.why-us__advantage-icon {
  width: 100px;
  font-size: 2.5rem;
  padding: 1.5rem;
  background: #333333;
  border-radius: 50%;
  color: #c93636;
  transition: 0.25s ease-in-out;
  margin-bottom: 1rem;
}
.why-us__advantage-title {
  margin-bottom: 1rem;
}
.why-us__advantage-text {
  color: #cccccc;
  font-size: 0.9rem;
}

.our-offer {
  color: #f2f2f2;
  padding: 4rem 1rem;
  text-align: center;
  background: #1a1a1a;
}
.our-offer__text-secondary {
  color: #c93636;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
}
.our-offer__text-main {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  padding: 0 2rem;
  text-align: center;
}
.our-offer__classes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  list-style: none;
}
.our-offer__class {
  background: #0d0d0d;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.2s ease-in-out;
}
.our-offer__class-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}
.our-offer__class-name {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.our-offer__img {
  filter: brightness(0.8);
  width: 100%;
  border-bottom: 4px solid #333333;
}
.our-offer__cta-btn {
  color: #f2f2f2;
  background: #c93636;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid #c93636;
  transition: 0.25s;
  font-size: 1.25rem;
  padding: 0.5rem;
}
.our-offer__cta-btn:hover {
  background: unset;
  border: 2px solid #c93636;
}

.join-us {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), center no-repeat url("../../images/woman-roller.jpg");
  background-size: cover;
  width: 100%;
  color: #f2f2f2;
  padding: 8rem 1rem;
  text-align: center;
}
.join-us__main {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.join-us__secondary {
  font-size: 1.5rem;
  color: #cccccc;
  margin-bottom: 2rem;
}
.join-us__cta-btn {
  color: #f2f2f2;
  position: relative;
  background: none;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid #c93636;
  z-index: 1;
}
.join-us__cta-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c93636;
  transform: scaleX(0);
  transition: transform 0.25s;
  z-index: -1;
}
.join-us__cta-btn:hover:before {
  transform: scaleX(1);
}

.pricing {
  color: #f2f2f2;
  padding: 4rem 1rem;
  text-align: center;
  background: #0d0d0d;
}
.pricing__text-secondary {
  color: #c93636;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
}
.pricing__text-main {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  padding: 0 2rem;
  text-align: center;
  padding: 0;
}
.pricing__list {
  gap: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.pricing__offer--reccomended {
  flex: 1 0 250px;
  padding: 2rem;
  background: #1a1a1a;
  transition: 0.2s ease-in-out;
  border: 4px solid rgba(201, 54, 54, 0.5);
  transform: scale(1.05);
}
.pricing__offer {
  flex: 1 0 250px;
  padding: 2rem;
  background: #1a1a1a;
  transition: 0.2s ease-in-out;
}
.pricing__offer-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.pricing__offer-price {
  font-size: 4rem;
  color: #c93636;
  font-weight: bold;
  margin-bottom: 1rem;
}
.pricing__offer-duration {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing__offer-duration:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  content: "\f017";
  margin-right: 0.5rem;
}
.pricing__offer-benefits {
  list-style-type: none;
  margin-bottom: 2rem;
}
.pricing__offer-benefit {
  font-size: 0.9rem;
  color: #cccccc;
  margin-bottom: 1rem;
}
.pricing__cta-btn {
  color: #f2f2f2;
  background: #c93636;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid #c93636;
  transition: 0.25s;
}
.pricing__cta-btn:hover {
  background: unset;
  border: 2px solid #c93636;
}

.gallery {
  background: #0d0d0d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 500px);
  grid-gap: 15px;
}
.gallery__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75);
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  position: relative;
}
.gallery__photo:hover {
  filter: brightness(0.9);
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(13, 13, 13, 0.9);
  padding: 0 0.5rem;
  cursor: pointer;
}
.modal__image {
  z-index: 101;
  width: auto;
  max-width: 100%;
  max-height: 550px;
  cursor: default;
}

.location {
  color: #f2f2f2;
  padding: 4rem 1rem;
  text-align: center;
  padding: 6rem 0 0 0;
  background-color: #0d0d0d;
}
.location__text-secondary {
  color: #c93636;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
}
.location__text-main {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  padding: 0 2rem;
  text-align: center;
}
.location__map {
  width: 100%;
  height: 50vh;
  filter: brightness(0.8);
  transition: filter 0.2s ease-in-out;
}
.location__map:hover {
  filter: brightness(0.9);
}

.footer {
  background: #0d0d0d;
  color: #f2f2f2;
}
.footer__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer__contact, .footer__hours {
  flex: 1 0 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: #cccccc;
}
.footer__contact-title, .footer__hours-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f2f2f2;
}
.footer__hours-list {
  list-style: none;
}
.footer__hour {
  margin-bottom: 0.5rem;
}
.footer__newsletter {
  flex: 1 0 250px;
}
.footer__newsletter-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.footer__newsletter-input {
  padding: 0.75rem;
  border: #f2f2f2 2px solid;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  outline: none;
}
.footer__newsletter-submit-btn {
  color: #f2f2f2;
  background: #c93636;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid #c93636;
  transition: 0.25s;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.footer__newsletter-submit-btn:hover {
  background: unset;
  border: 2px solid #c93636;
}
.footer__social {
  list-style-type: none;
  display: flex;
}
.footer__social-icon {
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.footer__social-icon:hover {
  color: #c93636;
}
.footer__divider {
  width: 100%;
  border: 1px solid #cccccc;
  margin: 1rem 0;
}
.footer__bottom {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .nav__mobile-dropdown {
    max-width: 300px;
  }

  .landing__text {
    padding: 35vh 0 0 5rem;
  }
  .landing__text-top {
    font-size: 1.25rem;
  }
  .landing__text-main {
    font-size: 4rem;
  }

  .footer__newsletter-input {
    width: auto;
  }
  .footer__newsletter-submit-btn {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .nav__logo {
    text-decoration: none;
    padding-left: 2rem;
  }

  .landing__text {
    padding: 30vh 0 0 10rem;
  }

  .our-offer__class:hover {
    transform: scale(1.05);
  }
  .our-offer__class-name {
    font-size: 1.25rem;
  }

  .pricing__offer {
    flex: 0 0 350px;
  }
  .pricing__offer:hover {
    transform: scale(1.05);
  }
  .pricing__offer--reccomended {
    flex: 0 0 350px;
  }
  .pricing__offer--reccomended:hover {
    transform: scale(1.1);
  }

  .join-us__main {
    font-size: 4rem;
  }
  .join-us__secondary {
    font-size: 2rem;
  }

  .gallery {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 5vw);
  }
  .gallery__photo:first-child {
    grid-column: 1/7;
    grid-row: 1/7;
  }
  .gallery__photo:nth-child(2) {
    grid-column: 7/10;
    grid-row: 1/7;
  }
  .gallery__photo:nth-child(3) {
    grid-column: 10/13;
    grid-row: 1/7;
  }
  .gallery__photo:nth-child(4) {
    grid-column: 1/7;
    grid-row: 7/13;
  }
  .gallery__photo:nth-child(5) {
    grid-column: 7/13;
    grid-row: 7/13;
  }
}
@media screen and (min-width: 992px) {
  .nav__bars {
    display: none !important;
  }
  .nav__menu {
    display: flex;
  }
  .nav__social {
    display: flex;
  }

  .our-offer__classes {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}