@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sons-serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav__logo {
  text-decoration: none;
  padding-left: 2rem;
}
.nav__menu {
  display: flex;
  list-style: none;
  color: #f2f2f2;
}
.nav__menu-item {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}
.nav__menu-item:after {
  display: block;
  content: "";
  border-bottom: solid 1px #c93636;
  transform: scaleX(0) translateY(0.5rem);
  transition: transform 250ms ease-in-out;
}
.nav__menu-item:hover:after {
  transform: scaleX(1) translateY(0.5rem);
}
.nav__menu-item a {
  text-decoration: none;
  color: inherit;
}
.nav__menu-item.active {
  cursor: default;
}
.nav__menu-item.active:after {
  transform: scaleX(1) translateY(0.5rem);
}
.nav__social {
  display: flex;
  list-style: none;
  color: #f2f2f2;
  padding-right: 2rem;
}
.nav__social-icon {
  padding: 0.5rem;
}

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), center no-repeat url("../../images/landing_woman.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.landing__text {
  padding: 30vh 0 0 10rem;
  color: #f2f2f2;
  transition: transform 250ms ease-in-out;
  animation: appear 0.5s;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.landing__text-top {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.landing__text-top::before {
  content: "";
  border-left: 2px solid #c93636;
  height: 100%;
  position: absolute;
  left: -1rem;
}
.landing__text-main {
  font-size: 4rem;
  font-weight: bold;
}
.landing__text-main--color {
  font-size: 4rem;
  font-weight: bold;
  color: #c93636;
}
.landing__cta-btn {
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
  border: 2px solid #c93636;
  background: #c93636;
  color: #f2f2f2;
  border-radius: 8px;
  transition: 0.25s;
  cursor: pointer;
}
.landing__cta-btn:hover {
  background: unset;
  border: 2px solid #c93636;
}

.why-us {
  background: #0d0d0d;
  color: #f2f2f2;
  padding: 4rem 0;
  text-align: center;
}
.why-us__text-secondary {
  margin-bottom: 0.5rem;
  color: #c93636;
  font-size: 1rem;
}
.why-us__text-main {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.why-us__advantages {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  list-style: none;
}
.why-us__advantage {
  padding: 1rem;
}
.why-us__advantage:hover .why-us__advantage-icon {
  background: #c93636;
  color: #f2f2f2;
}
.why-us__advantage-icon {
  font-size: 2rem;
  padding: 1rem;
  background: #333333;
  border-radius: 50%;
  color: #c93636;
  transition: 0.25s ease-in-out;
  margin-bottom: 1rem;
}
.why-us__advantage-title {
  margin-bottom: 1rem;
}
.why-us__advantage-text {
  color: #cccccc;
  font-size: 0.9rem;
}